@page "/clients/{id}"

@using DataLibrary
@using DataLibrary.Models

@inject NavigationManager NavigationManager
@inject IClientsData _db

<hr />
<h3>Edit @client.Name</h3>
<hr />

<EditForm Model="client" OnSubmit="@UpdateClient" style="width:400px;">

    <div class="form-group">
        <h6><b>Client ID</b></h6>
        <input id="id" class="form-control" value="@client.ClientId" readonly />
    </div>

    <table>
        <tbody>
            <tr>
                <td>
                    <h6><b>Client Name</b></h6>
                    <InputText class="form-control" style="margin: 10px;" placeholder="Name" id="name" @bind-Value="client.Name" Label="Name" />
                </td>
                <td>
                    <h6><b>Phone number</b></h6>
                    <InputText class="form-control" style="margin: 10px;" placeholder="Phone Number" id="phonenumber" @bind-Value="client.PhoneNumber" Label="Phone Number" />
                </td>
                </tr>
            <tr>
                <td>
                    <h6><b>Email address</b></h6>
                    <InputText class="form-control" style="margin: 10px;" placeholder="Email Address" id="emailaddress" @bind-Value="client.EmailAddress" Label="EmailAddress" />
                </td>
                <td>
                    <h6><b>CNP</b></h6>
                    <InputText class="form-control" style="margin: 10px;" placeholder="CNP" id="cnp" @bind-Value="client.CNP" Label="CNP" />
                </td>
            </tr>
            <tr>
                <td>
                    <h6><b>Address</b></h6>
                    <InputText class="form-control" style="margin: 10px;" placeholder="Address" id="address" @bind-Value="client.Address" Label="Address" />
                </td>
                <td>
                    <h6><b>Notes</b></h6>
                    <InputText class="form-control" style="margin: 10px;" placeholder="Notes" id="notes" @bind-Value="client.Notes" Label="Notes" />
                </td>
            </tr>

        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Update</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    private ClientModel client;

    protected override void OnInitialized()
    {
        client = _db.GetClientById(Id);
    }

    private void UpdateClient()
    {
        _db.UpdateClient(client);
        NavigationManager.NavigateTo("/clients");
    }
}
