@page "/clients"

@using DataLibrary
@using DataLibrary.Models
@using dotNet_project.Models

@inject IClientsData _db


<h1>Clients</h1>

<h4>Insert New Client</h4>
<EditForm Model="@newClient" OnValidSubmit="@InsertClient">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText placeholder="First Name" id="firstName" @bind-Value="newClient.FirstName" Label="First Name"/>
    <InputText placeholder="Last Name" id="lastName" @bind-Value="newClient.LastName" Label="Last Name"/>


    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<h4>Current Clients</h4>
@if(clients == null){
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var client in clients)
            {
                <tr>
                    <td>@client.FirstName</td>
                    <td>@client.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<ClientModel> clients;
    private DisplayClientModel newClient = new DisplayClientModel();

    protected override async Task OnInitializedAsync()
    {
        clients = await _db.GetClients();
    }

    private async Task InsertClient()
    {
        ClientModel c = new ClientModel
        {
            FirstName = newClient.FirstName,
            LastName = newClient.LastName

        };
        await _db.InsertClient(c);

        await OnInitializedAsync();

        newClient = new DisplayClientModel();
    }
}
