@page "/clients"

@using DataLibrary
@using dotNet_project.Models
@using Microsoft.Extensions.Configuration

@inject IDataAcces _data
@inject IConfiguration _config


<h1>Clients</h1>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td><b>First Name</b></td>
                <td><b>Last Name</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.FirstName</td>
                    <td>@client.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<ClientModel> clients;

    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM clients";
        clients = await _data.LoadData<ClientModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }
}
