@page "/clients"

@using DataLibrary
@inject IDataAcces _data
@inject dotNet_project.Data.IClientService ClientService;

<h1>Clients</h1>

<table class="table">
    <thead>
        <tr>
            <td>
                <b>
                    Id
                </b>
            </td>
            <td>
                <b>
                    Name
                </b>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in clients)
        {
            <tr>
                <td>
                    @client.Id
                </td>
                <td>
                    @client.Name
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    private List<dotNet_project.Data.Client> clients;

    protected override void OnInitialized()
    {
        clients = ClientService.GetClients();
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    //}

    protected override async Task OnInitializedAsync()
    {
       await _data.LoadData
    }
}
